p img {
  margin: auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

body {
  overflow-y: scroll;
}

p,
.post-content {
  font-size: large;
  text-align: justify;
}

.post {
  max-width: 660px;
}

.post-cover {
  margin: 40px -120px;
}

.br {
  border-radius: 0.5em;
}

.br-100 {
  border-radius: 100%;
}

.post-meta {
  text-align: center;
  color: gray;
}

.post-title {
  text-align: center;
}

.tc {
  text-align: center;
}

.dib {
  display: inline-block;
}

.link, .link:active, .link:focus, .link:hover, .link:link, .link:visited {
    transition: none !important;
}

h1.titulo-de-archivo {
  text-align: left;
}

li.item-de-archivo {
  text-align: left;
}

li.item-de-archivo a {
  text-decoration: none;
}


.no-user-select {
  user-select: none;
}

.post-content a {
  color: #7a4fbd;
  text-decoration: none;
}

.dark-theme .post-content a {
  color: #b291e6;
  text-decoration: none;
}

