p img {
  margin: auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

body {
  overflow-y: scroll;
}

p,
.post-content {
  font-weight: lighter !important;
  font-size: large;
  text-align: justify;
}

.post {
  max-width: 660px;
}

.post-cover {
  margin: 40px -120px;
}

.br {
  border-radius: 0.5em;
}

.br-100 {
  border-radius: 100%;
}

.post-meta {
  text-align: center;
  color: gray;
}

.post-title {
  text-align: center;
  font-weight: 100;
}

.tc {
  text-align: center;
}

.dib {
  display: inline-block;
}
