<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
<meta name="description" content="{{ if .IsHome }}{{ $.Site.Params.Subtitle }}{{ else }}{{ .Summary | plainify }}{{ end }}"/>
<meta name="keywords" content="{{ with .Params.Keywords }}{{ delimit . ", " }}{{ else }}{{ $.Site.Params.Keywords }}{{ end }}"/>
<meta name="robots" content="noodp"/>
<link rel="canonical" href="{{ .Permalink }}" />


<!-- head custom -->
{{- partial "prepended_head.html" . }}

<script src="{{ "js/menu.js" | absURL }}"></script>
<script src="{{ "js/prism.js" | absURL }}"></script>
<script src="{{ "js/theme.js" | absURL }}"></script>
<script src="{{ "js/imagenes.js" | absURL }}?v=2"></script>

<script defer data-domain="examplelab.com.ar" src="https://stats.pilas-engine.com.ar/js/script.js"></script>

<!-- Theme CSS -->
<link rel="stylesheet" href="{{ "assets/style.css" | absURL }}?v=2">

<link rel="stylesheet" href="{{ "css/estilo.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/tachyons.min.css" | absURL }}">

<!-- Icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "img/apple-touch-icon-144-precomposed.png" | absURL }}">
<link rel="shortcut icon" href="{{ "favicon-16x16.png?1" | absURL }}?1">

<!-- Twitter Card -->
{{ template "_internal/twitter_cards.html" . }}

<!-- OG data -->
{{ template "_internal/opengraph.html" . }}

<!-- RSS | JSON -->
{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
{{ end -}}

<!-- head custom -->
{{- partial "extended_head.html" . }}
